.playArea {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
}

.card {
  width: 6rem;
  height: 6rem;
  background-color: white;
 
  transition: transform 2s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.back, .front {
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back{
  transform: rotateY(180deg);
}


